:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  align-self: center;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #218838;
}

.delete-all {
  background: #dc3545;
}

.delete-all:hover {
  background: #c82333;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.actions {
  text-align: center;
}

.actions button {
  margin: 2px;
  padding: 4px 6px;
}

.hidden {
  display: none;
}

.checkbox-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.checkbox-container label {
 margin-top: 0;
}

input[type="checkbox" i] {
  width: fit-content !important;
}
